.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}
.swiper-wrapper {
  flex-wrap: wrap !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-slide {
  width: 37rem !important;
  height: 42rem !important;
  position: relative;
}
.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 39%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative !important;
  width: 15rem !important;
  bottom: -0.5rem !important;
  left: -2rem !important;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
.containers {
  padding: 4rem 0rem;
  margin: 0 auto;
}
.slider-controler {
  bottom: 0 !important;
}
@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    border-radius: 3rem !important;
  }
  .containers {
    padding: 0 !important;
  }
  .slider-controler {
    bottom: 4rem !important;
  }
  .swiper-pagination {
    left: 0 !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.swiper-slide,
.swiper-slide-next,
.swiper-slide-prev {
  /* opacity: 0.4; */
  transition: all 0.3s ease;
}

.swiper-slide-active {
  filter: none;
  opacity: 1;
}
